/* Général */
*{
  margin: 0px;
}

html{
  scroll-behavior: smooth;
  background-color: #FCFAF9;

}
  

/* Typographie */

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 51px;
  font-weight: 600;
  font-style: italic;
  color: #0A3622;
}

.h1violet{
  font-family: 'Poppins', sans-serif;
  font-size: 51px;
  font-weight: 600;
  font-style: italic;
  color: #7C8DD8;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #0A3622;
}

.h2rose{
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #F6E2E0;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #0A3622 ;
}

.h3blanc{
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: white ;
}
  
h4{
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: #0A3622;
}

.h4rose{
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-weight: 600;
  color:#F6E2E0;
}

.h4blanc{
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-weight: 600;
  color:white;
}

h5{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #0A3622;
  text-transform: uppercase;
}

p{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 29px;
  color: #102318;
  font-weight: 400;
  width: 738px;

}

.pBlanc{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 29px;
  color: white;
  font-weight: 400;
  width: 738px;

}
  
  /* ---------- Design de la page ---------- */
  
  /* Header */
  header{
    margin : auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #0A3622 solid;
    border-radius: 40px;
    width: 755px;
  }

  #myHeader{
    margin-top: 20px;
  }

  .imgStickerHeader{
    width: 32px;
  }

  
  ul{
    display: flex;
    padding: 24px 0px 24px 0px;
    list-style-type: none;  
  }
  
  li{
    padding: 0px 20px 0px 20px;
  }

  .headerText1{
    width: 62.06px;
  }

  .headerText2{
    width: 81.38px;
  }

  .headerText3{
    width: 69.79px;
  }

  .headerText4{
    width: 169.45px;
  }

  .headerText5{
    width: 128.5px;
  }

  li a{
    color: #0A3622;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }
  
li a:hover{
  cursor: pointer;
  border-bottom: solid 2px;
  font-weight: 600;
  color: #325C45;
}
  


/* --------- PAGE 1 --------- */

/* Section 1 */

#sectionTexte{
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 100px 0px 100px 0px;
}

/* Section 2 */

.imgStickerWrapper {
  width:100%;
  height:100%;
  position:absolute;
}

.imgStickerWrapper .imgSticker{
  position:absolute;
  right:5%;
  top:-13%;
  width: 12%;
}

#sectionImgTexte{
  width: 100%;
  display: flex;
  padding: 100px 0px;
  align-items: center;
  justify-content:center;
  gap: 40px;
  background-color: #0A3622;
}


/* Section 3 */

#sectionTexteImg{
  width: 100%;
  display: flex;
  padding: 100px 0px;
  align-items: center;
  justify-content:center;
  gap: 40px;
}
#triangleWrap {
  overflow: hidden !important;
}

#triangle{

  width: 100vh;
  height: 0;
  border-bottom: 100px solid #F6E2E0;
  border-left: 2000px solid transparent;
  
}

/* Communs sections 2 et 3 */

#sectionTexteRose{
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px 100px 0px;
  background-color: #F6E2E0;
}

.imgBlocTexte{
  width: 453px;
}

.blocTexte{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
 

/* --------- PAGE 2 --------- */

/* Sommaire */
.hugSommaire{
  background-color: #0A3622;
  display: flex;
  padding: 16px;
}
.sommaire{
  width: 700px;
  background-color: #F6E2E0;
  padding: 32px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sommaire a{
  color: #0A3622;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.sommaire a:hover{
cursor: pointer;
font-weight: 700;
color: #325C45;
text-decoration: underline;
}

.titre_sommaire{
  color: #0A3622;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.titre_et_sous_titre{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.petits_titres_sommaire{
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  gap: 0px;
}

.titre_sommaire:hover{
  cursor: pointer;
  font-weight: 700;
  color: #325C45;
  text-decoration: underline;
  }

/* Section 2 */

#section2{
  background-color: #0A3622;
  padding: 100px 0px;
}

#chiffresClés{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 100px 0px;
  background-color: #FCFAF9;
}

.chiffres{
  display: flex;
  justify-content: space-between;
}

.carte{
  margin: 24px;
  width: 160px;
  padding: 16px 32px 16px 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#F6E2E0;
}

.titre{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.blocParagraphe{
  background-color: #0A3622;
  display: flex;
  justify-content: center;
  padding: 100px 0px 0px 0px;
}

/* Section 3 */

#section3{
  padding: 100px 0px 0px 0px;
}

.paragraphe{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#swot{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.swot{
  display: flex;
  flex-direction: column;
  
}

.carteSwot{
  margin: 24px;
  width: 500px;
  padding: 32px 32px 32px 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:white;
  gap: 16px;
}

.smallparagraph{
  width: fit-content;
}

/* --------- PAGE 3 --------- */

#sectionContexte{
  padding: 0px 0px 100px 0px;
}
  
/* Footer */

footer{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A3622;
}

footer a{
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 24px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

footer a:hover{
  cursor: pointer;
  color: #F6E2E0;
}
